<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>合作协议</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
	<link href="__RESOURCE__/css/mui.min.css" rel="stylesheet">
	<link href="__RESOURCE__/css/person.css" rel="stylesheet">
	<style type="text/css">
		.protocal_title{
			color: #e4393c;
		    font-size: 17px;
		    font-weight: 400;
		    height: 46px;
		    line-height: 46px;
		    border-bottom: 1px solid #eee;
		    margin-top: 60px;
		    text-align: center;
		}
		.pro_text{
			font-size: 12.8px;
			color: #333;
			line-height: 24px;
			text-align: justify;
			text-indent: 18px;
		}
		.pr_title{
			color: #000;
			font-size: 17px;
			line-height: 26px;
		}
	</style>
</head>
<body>
	<header class="has_back_top ">
		合作协议
		<a href="{:url('index/Home/register')}" class="back_icon">
			<img src="__RESOURCE__/img/back_icon.png">
		</a>
	</header>

	<h1 class="protocal_title">中建58好策略交易费用及资费标准</h1>
	<div style="padding: 0 12px;">
		<p class="pro_text">策略人通过本平台参与沪深A股交易合作将涉及建仓费和履约保证金的发生。如策略人参与持仓时间为T＋1｜D的交易合作还将涉及延递费的发生。</p>
		<h3 class="pr_title">一、建仓费</h3>
		<p class="pro_text">1、建仓费为58好策略平台向策略人收取的费用。建仓费包含：</p>
		<p class="pro_text">①平台为策略人提供交易合作信息发布、交易合作撮合、交易指令通讯、交易风控管理与交易清结算等服务而收取的信息服务费；</p>
		<p class="pro_text">②平台代投资人收取用于补偿投资人帐户交易过程中产生的佣金、印花税和过户费等费用；</p>
		<p class="pro_text">③平台代第三方支付平台收取用于第三方支付为策略人提供资金存取、冻结、解冻和支付等服务手续费。</p>
		<p class="pro_text">2、建仓费以0交易本金为计费基数，按每万元交易本金       元计费。计算公式：策略人支付建仓费＝交易本金×    /10000。（下表数值仅为用户查询方便提供，建仓费具体数值以策略人实际选择为准。）</p>
		<p class="pro_text">3、建仓费于策略人签署《交易合作协议》时即支付。建仓费一经支付不予退还。当且仅当因平台原因导致系统故障，致使策略人和投资人交易合作失败时，策略人方可向平台申请退还建仓费。</p>
		<h3 class="pr_title">二、履约保证金</h3>
		<p class="pro_text">1、履约保证金为策略人委托本平台冻结用于履行交易亏损赔付义务的保证金。策略人以冻结履约保证金之数额作为承担交易亏损赔付的上限。</p>
		<p class="pro_text">2、履约保证金以策略人选取的资金需求倍数为计算依据，6倍资金需求时保证金为交易资金的六分之一，8倍资金需求时保证金为交易资金的八分之一，10倍资金需求时保证金为交易资金的十分之一。</p>
		<p class="pro_text">3、交易合作结束，根据本平台提供的清算结果，如交易盈利，策略人冻结履约保证金全额解冻。如交易亏损，从策略人冻结在平台的履约保证金中，扣减策略人所应承担亏损赔付额的数额，扣减后余额解冻。</p>
		<h3 class="pr_title">三、延递费（仅在持仓时间为T＋1｜D的交易存在产生此费用）</h3>
		<p class="pro_text">1、延递费为策略人通过中建58好策略平台向投资人申请将交易品种持仓时间延递至下一交易日所支付的费用。延递费包含：</p>
		<p class="pro_text">1）平台收取的信息服务费。</p>
		<p class="pro_text">2）平台代投资人收取用于补偿投资人资金占用费。</p>
		<p class="pro_text">2、延递费以交易本金为计费基数，分档计费。具体为：单次延递按每万元交易本金15元计费。计算公式：策略人支付延递费＝交易本金× 15 /10000。</p>
		<p class="pro_text">3、交易日当天14:40，若策略人不主动卖出，且符合延递条件，则默认为策略人需要延递，延递费将从策略人于策略盈平台的资金账号中自动扣除。</p>
		<p class="pro_text">4、本附件系策略人与投资人签署《交易合作协议》的重要组成部分，具有同等法律效力。</p>
		<h3 class="pr_title">四、盈利分成</h3>
		<p class="pro_text">在中建58好策略平台上进行交易的每一笔平仓盈利单，投资人均抽取一定比例的盈利分成，持仓5个工作日以上的平仓盈利单抽取    %，1-5（包含5日）个工作日的平仓盈利单抽取    %。</p>
		<h3 class="pr_title">五、关于以上资费标准的声明</h3>
		<p class="pro_text">1、本平台声明，以上所有涉及资费标准的数据，均为平台根据市场行情阶段性调整的实时标准，该数据具有一定浮动性。</p>
		<p class="pro_text">2、平台关于以上资费标准不做不予调整的承诺，平台将根据客观的市场行情对资费标准进行适时调整，关于调整结果将及时告知所有平台用户，并将一如既往地尊重用户在新的资费条件下是否选择继续与平台合作的权利。</p>
		<p class="pro_text">中建私募证券投资管理（广州）有限公司</p>
		<p class="pro_text" style="text-align: right;">投资人与策略人交易合作协议</p>
		<p class="pro_text" style="text-align: right;">中建58好策略交易居间服务协议</p>
	</div>
	
</body>
</html>