{extend name="layouts/layout_iframe" /}

{block name="title"}角色管理{/block}

{block name="body"}
<nav class="breadcrumb">
    <i class="Hui-iconfont Hui-iconfont-home2"></i> 首页
    <span class="c-gray en">&gt;</span> 管理员管理
    <span class="c-gray en">&gt;</span> 角色管理
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" >
        <i class="Hui-iconfont Hui-iconfont-huanyipi"></i>
    </a>
</nav>
<div class="page-container">
    <div class="cl pd-5 bg-1 bk-gray">
		<span class="l">
            <a href="javascript:;" onclick="datadel()" class="btn btn-danger radius">
                <i class="Hui-iconfont  Hui-iconfont-del3"></i> 批量删除
            </a>
			<a class="btn btn-primary radius" href="javascript:;" onclick="role_add('添加角色','{:url("admin/Admin/roleCreate")}','', '350')">
				<i class="Hui-iconfont Hui-iconfont-add"></i> 添加角色
            </a>
        </span>
        <span class="r">共有数据：<strong>{$datas.total}</strong> 条</span>
    </div>
    <table class="table table-border table-bordered table-hover table-bg">
        <thead>
        <tr class="text-c">
            <th width="25"><input type="checkbox" value="" name=""></th>
            <th width="40">ID</th>
            <th>角色名</th>
            <th>描述</th>
            <th>状态</th>
            <th width="70">操作</th>
        </tr>
        </thead>
        <tbody>
        {volist name="datas.data" id="item"}
        <tr class="text-c">
            <td width="25"><input type="checkbox" value="{$item.id}" name=""></td>
            <td width="25">{$item.id}</td>
            <td>{$item.name}</td>
            <td>{$item.remark}</td>
            <td>
                {if condition="$item.show.value eq 1"}
                <span class="label label-success radius">{$item.show.text}</span>
                {else /}
                <span class="label label-danger radius">{$item.show.text}</span>
                {/if}
            </td>
            <td class="f-14">
                <a title="编辑" href="javascript:;" onclick="admin_role_edit('角色编辑','admin-role-add.html','1')" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
                <a title="删除" href="javascript:;" onclick="admin_role_del(this,'1')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
    {$pages}
</div>
{/block}

{block name="footer"}

{/block}

{block name="script"}
<script>
    /*用户-添加*/
    function role_add(title,url,w,h){
        layer_show(title,url,w,h);
    }
</script>
{/block}