{extend name="layouts/layout_manager" /}

{block name="title"}
经纪人
{/block}

{block name="style"}
<link rel="stylesheet" type="text/css" href="__RESOURCE__/css/person.css">
<style type="text/css">
    body{
        background: #f5f5f5;
    }
</style>
{/block}

{block name="body"}
<body>
{/block}

{block name="content"}
	<div class="manager_con">
		<header class="header_con">
		    <a href="{:url('index/User/index')}" class="lf">
		        <img src="__RESOURCE__/img/call_back.png">
		    </a>
		    <p>经纪人</p>
		</header>
        <div id="main">
            <div class="index-box">
                <a href="javascript:void(0)" class="client_profile clear_fl">
                    <div class="lf">
                        <p class="client_p_name">{$user.nickname|default=$user.username}</p>
                        <p class="client_p_phone">{$user.mobile}</p>
                    </div>
                    <i class="earrow earrow-right rt"></i>
                    <span class="rt">分享二维码</span>
                    <img src="__MANAGERQRCODE__/{$user.user_id}.png" alt="">
                </a>

                <a href="{:url('index/Manager/incomeLists')}" class="client_profile my_input_con clear_fl">
                    <p class="lf my_input">{$user.income | default=0.00}</p>
                    <i class="earrow earrow-right rt"></i>
                    <span class="rt">我的收入</span>
                </a>

                <ul class="clear_fl manager_inpu">
                    <li>
                        <p class="m_key">实时收入</p>
                        <p class="m_value">{$user.realtime_income | default=0.00}</p>
                    </li>
                    <li>
                        <p class="m_key">未结收入</p>
                        <p class="m_value">{$user.not_income | default=0.00}</p>
                    </li>
                    <li class="border_bottom">
                        <p class="m_key">可转收入</p>
                        <p class="m_value clear_fl">
                            <span>{$user.sure_income | default=0.00}</span>
                            <a href="" class="rt">转出</a>
                        </p>
                    </li>
                    <li class="border_bottom">
                        <p class="m_key">已转收入</p>
                        <p class="m_value">{$user.already_income | default=0.00}</p>
                    </li>
                </ul>

                <div class="meun-box menuBox">
                    <div class="menu-wrap">
                        <a href="{:url('index/Manager/children')}" style="display: block;">
                            <div class="menu-item customer boxflex" data-index="0">
                                <i class="icon icon-customer"></i>
                                <span class="menu-itemTitle">直属客户</span>
                                <span class="box_flex_1 menu-itemNum">{$user.children}人</span>
                                <i class="earrow earrow-right"></i>
                            </div>
                        </a>
                        <a href="{:url('index/Manager/followEvening')}" style="display: block;">
                            <div class="menu-item coverings boxflex" data-index="2">
                                <i class="icon icon-coverings"></i>
                                <span class="menu-itemTitle menu-cover">直属平仓</span>
                                <span class="box_flex_1 menu-itemNum">{$user.pingcang}笔</span>
                                <i class="earrow earrow-right"></i>
                            </div>
                        </a>
                        <a href="{:url('index/Manager/followPosition')}" style="display: block;">
                            <div class="menu-item boxflex" data-index="3">
                                <i class="icon icon-mycard"></i>
                                <span class="menu-itemTitle menu-id">直属持仓</span>
                                <span class="box_flex_1 menu-itemNum"></span>
                                <span class="box_flex_1 menu-itemNum">{$user.chicang}笔</span>
                                <i class="earrow earrow-right"></i>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="home__incomeTip___t5txi">*实际收入以交易日结算完成后为准</div>
            </div>
        </div>
	</div>
{/block}

{block name="nav"}
{/block}

{block name="script"}
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript">
    //屏蔽所有右上角功能
    function onBridgeReady(){
        WeixinJSBridge.call('hideOptionMenu');
    }

    if (typeof WeixinJSBridge == "undefined"){
        if( document.addEventListener ){
            document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
        }else if (document.attachEvent){
            document.attachEvent('WeixinJSBridgeReady', onBridgeReady); 
            document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
        }
    } else {
        onBridgeReady();
    }
</script>
{/block}