{extend name="layouts/layout_iframe" /}

{block name="title"}热门推荐列表{/block}

{block name="body"}
<nav class="breadcrumb">
	<i class="Hui-iconfont Hui-iconfont-home2"></i> 首页
	<span class="c-gray en">&gt;</span> 系统设置
	<span class="c-gray en">&gt;</span> 高危股票
	<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" >
		<i class="Hui-iconfont Hui-iconfont-huanyipi"></i>
	</a>
</nav>
<div class="page-container">
	<form action="" method="get">
		<div class="text-c">
			<input type="text" class="input-text radius" style="width:170px;" placeholder="股票代码" name="code" value="{$search.code|default=''}">
			<input type="text" class="input-text radius" style="width:170px;" placeholder="股票名称" name="name" value="{$search.name|default=''}">
			<span class="select-box radius" style="width:110px;height: 31px;">
            <select class="select radius" name="state" size="1">
                <option value="">类型</option>
                <option value="0" {if condition="isset($search.state) && $search.state eq 0"}selected{/if}>动态抓取</option>
				<option value="1" {if condition="isset($search.state) && $search.state eq 1"}selected{/if}>手工录入</option>
            </select>
        </span>
			<button type="submit" class="btn btn-success radius" id="" name=""><i class="Hui-iconfont Hui-iconfont-search2"></i>搜索</button>
		</div>
	</form>
	<div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">
			{if condition="in_array('admin/Danger/create', $Think.session.ACCESS_LIST)"}
			<a class="btn btn-primary radius" href="javascript:;" onclick="danger_add('添加高危股票','{:url("admin/Danger/create")}','','430')">
				<i class="Hui-iconfont Hui-iconfont-add"></i> 添加高危股票
			</a>
			{/if}
		</span>
		<span class="r">共有数据：<strong>{$datas.total}</strong> 条</span>
	</div>
	<table class="table table-border table-bordered table-hover table-bg">
		<thead>
		<tr class="text-c">
			<th width="25"><input type="checkbox" value="" name=""></th>
			<th>股票代码</th>
			<th>股票名称</th>
			<th>交易额（万元）</th>
			<th>类型</th>
			<th>录入时间</th>
			<th width="80">操作</th>
		</tr>
		</thead>
		<tbody>
		{volist name="datas.data" id="item"}
		<tr class="text-c mode-lists">
			<td><input type="checkbox" value="{$item.code}" name="code"></td>
			<td>{$item.code}</td>
			<td>{$item.name}</td>
			<td>{$item.amount / 10000|number_format=2}</td>
			<td>{$item.state.text}</td>
			<td>{$item.create_at|date="Y-m-d H:i:s", ###}</td>
			<td class="f-14">
				{if condition="in_array('admin/Danger/remove', $Think.session.ACCESS_LIST)"}
				<input class="btn btn-danger size-MINI radius" type="button" title="删除高危股票" onclick="danger_del(this, '{$item.code}');" value="删除">
				{/if}
			</td>
		</tr>
		{/volist}
		</tbody>
	</table>
	{$pages}
</div>
{/block}

{block name="footer"}

{/block}

{block name="script"}
<script>
    /*用户-添加*/
    {if condition="in_array('admin/Danger/create', $Think.session.ACCESS_LIST)"}
    function danger_add(title,url,w,h){
        layer_show(title,url,w,h);
    }
	{/if}

    {if condition="in_array('admin/Danger/remove', $Think.session.ACCESS_LIST)"}
    function danger_del(_obj, _id) {
        layer.confirm('确认要删除高危股票？',function(index){
            var _oData = {code:_id},
                _url = '{:url("admin/Danger/remove", ["act" => "single"])}',
                _func = function (_resp) {
                    layer.close(index);
                    if (!_resp.state) {
                        parent.layer.msg(_resp.info);
                    } else {
                        layer.msg('删除成功！', {time: 500}, function(){
                            if(_resp.data && _resp.data.url){
                                parent.window.location.href = _resp.data.url;
                            }else{
                                $(_obj).parents("tr").remove();
                            }
                        });
                    }
                };
            _ajaxPost(_url, _oData, _func);
        });
    }
	{/if}
</script>
{/block}