{extend name="layouts/layout_user" /}

{block name="title"}
创建策略
{/block}

{block name="style"}
<style type="text/css">
	body{
		background: #f5f5f5 !important;
	}
	.now_count{
		width: 100%;
		border: 1px solid #ededed;
	    height: 30px;
	    line-height: 30px;
	    text-align: center;
	    font-size: 12px;
	    color: #333;
	}
</style>
{/block}

{block name="body"}
<body class="quick_body  mui-ios mui-ios-10 mui-ios-10-3">
{/block}

{block name="content"}
		<header class="has_back_top ">
			创建策略
			<a href="javascript:history.go(-1)" class="back_icon">
				<img src="__RESOURCE__/img/back_icon.png">
			</a>
		</header>
		<section class="buy_section mar56">
			<a href="{:url('index/Stock/info', ['code' => $stock.code])}"  class="b_gupiao_detail clear_fl">
				<div class="lf b_gupiao_profile">
					<p class="b_gupiao_name">{$stock.prod_name}</p>
					<p class="b_gupiao_code">{$stock.code}</p>
				</div>
				<div class="lf b_gupiao_price">
					<p class="b_gupiao_now_price">{$stock.last_px}</p>
					<p class="b_gupiao_rate clear_lf">
						<span class="lf">{$stock.px_change}</span>
						<span class="rt">{$stock.px_change_rate}%</span>
					</p>
				</div>
				<span class="rt">行情</span>
			</a>
			<div class="b_gupiao_detail clear_fl b_gupiao_intro">
				<div class="agent_price_title lf">策略委托价</div>
				<div class="agent_price lf">{$stock.last_px}</div>
				<a class="rt">说明</a>
			</div>
		</section>
		<section class="buy_section">
			<div class="celue_pattern clear_fl">
				<span class="lf pattern_title">策略模式</span>
				<div class="lf pattern_options flex_nowrap">
					<!--<span class="active">T+1</span>-->
                    {volist name="modes" id="item"}
					<span data-id="{$item.mode_id}" data-profit="{$item.profit}" data-loss="{$item.loss}" data-jiancang="{$item.jiancang}" data-defer="{$item.defer}">{$item.name}</span>
                    {/volist}
				</div>
				<a class="rt">说明</a>
			</div>
		</section>
		<section class="buy_section">
			<div class="clear_fl xinyongjin_title">
				<span class="lf">选择信用金（元）</span>
				<span class="rt selected_count">1500</span>
			</div>
			<div class="xinyongjin_options_con clear_fl">
				<span class="x_o_title lf">选择数额</span>
				<div class="clear_fl rt x_y_options">
					<!--<span class="active">1500</span>-->
                    {volist name="deposits" id="item"}
					<span data-id="{$item.id}" data-money="{$item.money|floatval}">{$item.name}</span>
                    {/volist}
				</div>
			</div>
		</section>
		<section class="buy_section">
			<div class="celue_pattern clear_fl no_arrow">
				<span class="lf pattern_title">策略匹配</span>
				<div class="lf beishu_options flex_nowrap">
					<!--<span class="active">10倍</span>-->
                    {volist name="levers" id="item"}
					<span data-id="{$item.id}" data-multiple="{$item.multiple}">{$item.name}</span>
                    {/volist}
				</div>
			</div>
			<div class="clear_fl baishu_detail">
				<span class="lf">1200股</span>
				<span class="rt">市值154548.5元</span>
			</div>
		</section>

		<section class="buy_section">
			<div class="control_point zhiying clear_fl">
				<span class="lf">止盈</span>
				<p class="lf count_panel flex_nowrap">
					<span class="minus_btn count_btn">-</span>
					<!-- <span class="now_count">13.63</span> -->
					<input readonly="readonly" value="13.08" class="now_count profitCount" />
					<span class="plus_btn count_btn">+</span>
				</p>
				<p class="rt fudong zhangfu">涨幅约 <span>+11.9%</span></p>
			</div>

			<div class="control_point zhisun clear_fl">
				<span class="lf">止损</span>
				<p class="lf count_panel flex_nowrap">
					<span class="minus_btn count_btn">-</span>
					<!-- <span class="now_count">13.63</span> -->
					<input readonly="readonly" value="9.07" class="now_count lossCount" />
					<span class="plus_btn count_btn">+</span>
				</p>
				<p class="rt fudong diefu">跌幅约 <span>+11.9%</span></p>
			</div>
		</section>


		<section class="buy_section">
			<div class="b_gupiao_detail clear_fl b_gupiao_intro no_border">
				<div class="agent_price_title lf">建仓费</div>
				<div class="create_price lf jiangcangfei">78.00元</div>
				<a class="rt">说明</a>
			</div>
		</section>

		<section class="buy_section">
			<div class="b_gupiao_detail clear_fl b_gupiao_intro no_border">
				<div class="agent_price_title lf">递延费</div>
				<div class="create_price lf diyanfei">9.90元/天/万元</div>
				<a class="rt">说明</a>
			</div>
			<div class="b_gupiao_detail clear_fl b_gupiao_intro no_border no_arrow">
				<div class="agent_price_title lf">自动递延</div>
				<div class="zidongdiyan lf">若未开启自动递延<br/>次日 14.40 将卖出股票</div>
				<a class="rt">
					<input type="checkbox" class="switch__mui-switch___3_30S switch__mui-switch-anim___3IUf5" value="on">
				</a>
			</div>
		</section>

		<section class="buy_section">
			<div class="sub_pay_con clear_fl">
				<div class="lf">
					<p class="need_pay_count">需要支付 <span>1289.00</span> 元</p>
					<p class="balance_count" data-account="{$user.account}">(账户余额：{$user.account|number_format} 元)</p>
				</div>
				<a href="" class="rt sub_pay_btn">马上创建</a>
			</div>
			<div class="agree_con">
				<label for="agree">
					<input type="checkbox" id="agree" value="on" checked="">
					已阅读并同意相关
				</label>
				<a href="#/Agreement"><span>合作协议</span></a>
			</div>
		</section>
{/block}

{block name="nav"}
{/block}

{block name="script"}
<script type="text/javascript">
	$(".pattern_options").on("tap" , "span" , function(){
		$(this).addClass("active").siblings(".active").removeClass("active");
		calcNum()
	});

	$(".x_y_options").on("tap" , "span" , function(){
		$(this).addClass("active").siblings(".active").removeClass("active");
		var val = $(this).html();
		$(".selected_count").html(val);
		calcNum()
	});

	$(".beishu_options").on("tap" , "span" , function(){
		$(this).addClass("active").siblings(".active").removeClass("active");
		calcNum()
	});


	//止盈止损
	$(".control_point").on("click",".count_btn",function(){
		var context = $(this).parents(".control_point");
		var now_count = parseFloat( context.find(".now_count").val() );
		var initValue = parseFloat( context.find(".now_count").attr("data-initValue"));
		var nowPrice = parseFloat( $(".b_gupiao_now_price").html() ); //现价

		if( $(this).hasClass("minus_btn") ){ //减
			if(now_count <= initValue){
				return false;
			}
			now_count = (now_count * 100 - 1) / 100;
		}else{ //加
			now_count = (now_count * 100 + 1) / 100;
		}

		context.find(".now_count").val( now_count );
		var rate = ((now_count * 100 - nowPrice * 100) / nowPrice).toFixed(2);
		context.find(".fudong").find("span").html( rate + "%" );

	});

	$(function(){
		$(".x_y_options span:nth-child(1)").addClass("active");
		$(".pattern_options span:nth-child(1)").addClass("active");
		$(".beishu_options span:nth-child(1)").addClass("active");
		calcNum();
	});

	//计算
	function calcNum(){
		var creditNum = parseFloat( $(".x_y_options").find(".active").data("money") ); //信用金
		var multiple = parseFloat( $(".beishu_options").find(".active").data("multiple") );//倍数
		var nowPrice = parseFloat( $(".b_gupiao_now_price").html() ); //现价

		var count = Math.floor(creditNum * multiple / nowPrice /100) * 100; //股数
		var ammount = count * nowPrice;
		$(".baishu_detail .lf").html(count + "股");
		$(".baishu_detail .rt").html("市值" + ammount + "元");

		//计算建仓费
		var jiancangUnit = parseFloat( $(".pattern_options").find(".active").data("jiancang") );
		var jiangcang = Math.ceil( jiancangUnit * ammount / 10000 );
		$(".jiangcangfei").html(jiangcang + ".00 元");

		//支付总价
		var sum = jiangcang + creditNum;
		$(".need_pay_count span").html(sum);


		//涨跌幅
		var profit = parseFloat( $(".pattern_options").find(".active").data("profit") );
		var loss = parseFloat( $(".pattern_options").find(".active").data("loss") );
		var nowPrice = parseFloat( $(".b_gupiao_now_price").html() );

		var maxProfit = (nowPrice * (1 + profit / 100)).toFixed(2);
		var maxLoss = (nowPrice * (1 - profit / 100)).toFixed(2);

		$(".profitCount").val(maxProfit).attr("data-initValue", maxProfit);
		$(".lossCount").val( maxLoss ).attr("data-initValue", maxLoss);
		$(".zhangfu span").html("+" + profit + "%");
		$(".diefu span").html("-" + loss + "%");
	}

</script>
{/block}





