{extend name="layouts/layout_iframe" /}

{block name="title"}会员详情{/block}

{block name="body"}
<nav class="breadcrumb">
    <i class="Hui-iconfont Hui-iconfont-home2"></i> 首页
    <span class="c-gray en">&gt;</span> 会员管理
    <span class="c-gray en">&gt;</span> 会员列表
    <span class="c-gray en">&gt;</span> 虚拟用户详情
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" >
        <i class="Hui-iconfont Hui-iconfont-huanyipi"></i>
    </a>
</nav>
<div class="page-container">
    <div id="tab-system" class="HuiTab">
        <div class="tabBar cl">
            <span data-href="{:url('admin/User/virtualDetail', ['id' => input('id')])}">基本信息</span>
            <span data-href="{:url('admin/User/virtualDetail', ['id' => input('id'), 'type' => 2])}">当前持仓</span>
            <span data-href="{:url('admin/User/virtualDetail', ['id' => input('id'), 'type' => 3])}">历史交易</span>
            <span class="current" data-href="{:url('admin/User/virtualDetail', ['id' => input('id'), 'type' => 6])}">资金记录</span>
        </div>
        <table class="table table-border table-bordered table-bg mt-20">
            <thead class="text-c">
            <tr>
                <th colspan="4" scope="col">资金详情</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th width="25%">净资产</th>
                <th width="25%">可用资金</th>
                <th width="25%">持仓市值</th>
                <th width="25%">浮动盈亏</th>
            </tr>
            <tr>
                <td>{$capital.netAssets|number_format=2}</td>
                <td>{$capital.expendableFund|number_format=2}</td>
                <td>{$capital.marketValue|number_format=2}</td>
                <td>{$capital.floatPL|number_format=2}</td>
            </tr>
            </tbody>
        </table>
        <form action="" method="get">
            <div class="text-l mt-20">
                <input type="hidden" name="id" value="{:input('id')}" />
                <input type="hidden" name="type" value="6" />
                <input type="text" class="input-text radius" style="width:170px;" placeholder="开始时间" name="begin" value="{$search.begin|default=''}" onclick="WdatePicker({readOnly:true, dateFmt:'yyyy-MM-dd HH:mm'})"> -
                <input type="text" class="input-text radius" style="width:170px;" placeholder="结束时间" name="end" value="{$search.end|default=''}" onclick="WdatePicker({readOnly:true, dateFmt:'yyyy-MM-dd HH:mm'})">
                <button type="submit" class="btn btn-success radius" id="search-btn" name=""><i class="Hui-iconfont Hui-iconfont-search2"></i>搜索</button>
                <button type="button" class="btn btn-success radius" id="today-btn">今日流水</button>
            </div>
        </form>
        <div class="cl pd-5 bg-1 bk-gray mt-15">
            <span class="l">
            </span>
            <span class="r">共有数据：<strong>{$datas.total}</strong> </span>
        </div>
        <table class="table table-border table-bordered table-hover table-bg">
            <thead>
            <tr class="text-c">
                <th>日期</th>
                <th>订单号</th>
                <th>类型</th>
                <th>金额</th>
                <th>余额</th>
            </tr>
            </thead>
            <tbody>
            {volist name="datas.data" id="item"}
            <tr class="text-c admin-lists">
                <td>{$item.create_at|date='Y-m-d H:i:s', ###}</td>
                <td>
                    {if condition="isset($item.remark.orderId)"}
                    {$item.remark.orderId}
                    {elseif condition="isset($item.remark.tradeNo)"}
                    {$item.remark.tradeNo}
                    {else /}
                    -
                    {/if}
                </td>
                <td>{$item.type_text}</td>
                <td>{eq name="item.direction" value="1"}+{else /}-{/eq}{$item.amount|number_format=2}</td>
                <td>{$item.account|number_format=2}</td>
            </tr>
            {/volist}
            </tbody>
        </table>
        {$pages}
    </div>
</div>
{/block}

{block name="footer"}

{/block}

{block name="script"}
<script language="javascript" type="text/javascript" src="__RESOURCE__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript">
    $(function(){
        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });

        $(".tabBar span").click(function(){
            var _url = $(this).data("href");
            window.location.href = _url;
        });

        $("#today-btn").click(function(){
            var _myDate = new Date(),
                _todayDate = _myDate.toLocaleDateString().replace(/[\/]/g,'-'),
                _todayStart = _todayDate + " 00:00",
                _todayEnd = _todayDate + " 23:59";
            $("input[name='begin']").val(_todayStart);
            $("input[name='end']").val(_todayEnd);
            $("#search-btn").trigger("click");
        });
    });
</script>
{/block}