{extend name="layouts/layout_iframe" /}

{block name="title"}代理商出金{/block}

{block name="body"}
<nav class="breadcrumb">
    <i class="Hui-iconfont Hui-iconfont-home2"></i> 首页
    <span class="c-gray en">&gt;</span> 记录管理
    <span class="c-gray en">&gt;</span> 代理商出金记录
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" >
        <i class="Hui-iconfont Hui-iconfont-huanyipi"></i>
    </a>
</nav>
<div class="page-container">
    <form action="" method="get">
        <div class="text-l">
            <input type="text" class="input-text radius" style="width:200px;" placeholder="订单号" name="trade_no" value="{$search.trade_no|default=''}">
            <input type="text" class="input-text radius" style="width:170px;" placeholder="代理商" name="proxy" value="{$search.proxy|default=''}">
            <input type="text" class="input-text radius" style="width:170px;" placeholder="手机号" name="mobile" value="{$search.mobile|default=''}">
            <span class="select-box radius" style="width:100px;height: 31px;">
                <select class="select radius" name="state" size="1">
                    <option value="">状态</option>
                    <option value="0" {if condition="isset($search.state) AND $search.state heq '0'"}selected{/if}>待审核</option>
                    <option value="1" {if condition="isset($search.state) AND $search.state heq '1'"}selected{/if}>代付中</option>
                    <option value="2" {if condition="isset($search.state) AND $search.state heq '2'"}selected{/if}>已到账</option>
                    <option value="-1" {if condition="isset($search.state) AND $search.state heq '-1'"}selected{/if}>已拒绝</option>
                </select>
            </span>
        </div>
        <div class="text-l mt-5">
            <input type="text" class="input-text radius" style="width:170px;" placeholder="申请开始时间" name="create_begin" value="{$search.create_begin|default=''}" onclick="WdatePicker({readOnly:true, dateFmt:'yyyy-MM-dd HH:mm'})"> -
            <input type="text" class="input-text radius" style="width:170px;" placeholder="申请结束时间" name="create_end" value="{$search.create_end|default=''}" onclick="WdatePicker({readOnly:true, dateFmt:'yyyy-MM-dd HH:mm'})">
            <input type="text" class="input-text radius ml-10" style="width:170px;" placeholder="审核开始时间" name="update_begin" value="{$search.update_begin|default=''}" onclick="WdatePicker({readOnly:true, dateFmt:'yyyy-MM-dd HH:mm'})"> -
            <input type="text" class="input-text radius" style="width:170px;" placeholder="审核结束时间" name="update_end" value="{$search.update_end|default=''}" onclick="WdatePicker({readOnly:true, dateFmt:'yyyy-MM-dd HH:mm'})">
            <button type="submit" class="btn btn-success radius" id="search-btn" name=""><i class="Hui-iconfont Hui-iconfont-search2"></i>搜索</button>
            <button type="button" class="btn btn-success radius" id="today-btn">今日流水</button>
        </div>
    </form>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">
            <span class="c-blue">出金总计： <strong>￥{$totalAmount|number_format=2}</strong></span>
            <span class="c-green ml-15">到账总计：<strong>￥{$totalActual|number_format=2}</strong></span>
            <span class="c-orange ml-15">手续费总计：<strong>￥{$totalPoundage|number_format=2}</strong></span>
        </span>
        <span class="r">共计出金：<strong>{$datas.total}</strong> 笔</span>
    </div>
    <table class="table table-border table-bordered table-hover table-bg">
        <thead>
        <tr class="text-c">
            <th>订单号</th>
            <th>代理商</th>
            <th>手机号</th>
            <th>出金金额</th>
            <th>手续费</th>
            <th>实际到账</th>
            <th>申请时间</th>
            <th>审核时间</th>
            <th>审核人</th>
            <th>状态</th>
            <th width="140">操作</th>
        </tr>
        </thead>
        <tbody>
        {empty name="datas.data"}
        <tr class="text-c admin-lists">
            <td colspan="11">暂时没有匹配到数据</td>
        </tr>
        {/empty}
        {volist name="datas.data" id="item"}
        <tr class="text-c admin-lists">
            <td>{$item.out_sn}</td>
            <td>{$item.belongs_to_admin.username}</td>
            <td>{$item.belongs_to_admin.mobile}</td>
            <td>{$item.amount|number_format=2}</td>
            <td>{$item.poundage|number_format=2}</td>
            <td>{$item.actual|number_format=2}</td>
            <td>{$item.create_at|date='Y-m-d H:i:s', ###}</td>
            <td>{if condition="$item.update_at eq 0"}{else /}{$item.update_at | date='Y-m-d H:i:s', ###}{/if}</td>
            <td>{$item.has_one_update_by.username | default=''}</td>
            <td>
                {if condition="$item.state.value eq 0"}
                <span class="label label-warning radius">{$item.state.text}</span>
                {elseif condition="$item.state.value eq 1"}
                <span class="label label-primary radius">{$item.state.text}</span>
                {elseif condition="$item.state.value eq 2"}
                <span class="label label-success radius">{$item.state.text}</span>
                {elseif condition="$item.state.value eq -1"}
                <span class="label label-danger radius">{$item.state.text}</span>
                {/if}
            </td>
            <td class="f-14">
                {if condition="in_array('admin/Record/proxyWithdrawDetail', $Think.session.ACCESS_LIST)"}
                <input class="btn btn-primary size-MINI radius" type="button" title="查看详情" onclick="show_detail('出金详情', '{:url("admin/Record/proxyWithdrawDetail", ['id' => $item.id])}','','540')" value="查看详情">
                {/if}
                {if condition='$item.state.value eq 0'}
                {if condition="in_array('admin/Record/doProxyWithdraw', $Think.session.ACCESS_LIST)"}
                <input class="btn btn-success size-MINI radius" type="button" title="审核通过" onclick="admin_success('{$item.id}', '1')" value="通过">
                <input class="btn btn-danger size-MINI radius" type="button" title="审核拒绝" onclick="admin_refuse('{$item.id}', '-1')" value="拒绝">
                {/if}
                {/if}
            </td>
        </tr>
        {/volist}
        {gt name="datas.total" value="0"}
        <tr class="text-c admin-lists">
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td><strong>{$pageAmount|number_format=2}</strong></td>
            <td><strong>{$pagePoundage|number_format=2}</strong></td>
            <td><strong>{$pageActual|number_format=2}</strong></td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        {/gt}
        </tbody>
    </table>
    {$pages}
</div>
{/block}

{block name="footer"}

{/block}

{block name="script"}
<script language="javascript" type="text/javascript" src="__RESOURCE__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script>
    {if condition="in_array('admin/Record/proxyWithdrawDetail', $Think.session.ACCESS_LIST)"}
    function show_detail(title,url,w,h){
        layer_show(title,url,w,h);
    }
    {/if}

    {if condition="in_array('admin/Record/doProxyWithdraw', $Think.session.ACCESS_LIST)"}
    function admin_success(_id, state)
    {
        layer.confirm('是否确认本次出金?', {icon: 1, title:'提示'}, function(index){
            parent.layer.close(index);
            var _oData = {id : _id, state:state},
                _url = '{:url("admin/Record/doProxyWithdraw")}',
                _loading = parent.layer.load(1),
                _func = function (_resp) {
                    parent.layer.close(_loading);
                    if (!_resp.state) {
                        layer.msg(_resp.info);
                    } else {
                        layer.msg('操作成功！', {time: 500}, function(){
                            window.location.reload();
                        });
                    }
                };
            _ajaxPost(_url, _oData, _func);
        });
    }

    function admin_refuse(_id, state)
    {
        layer.confirm('是否拒绝本次出金?', {icon: 5, title:'提示'}, function(index){
            parent.layer.close(index);
            var _oData = {id : _id, state:state},
                _url = '{:url("admin/Record/doProxyWithdraw")}',
                _loading = parent.layer.load(1),
                _func = function (_resp) {
                    parent.layer.close(_loading);
                    if (!_resp.state) {
                        layer.msg(_resp.info);
                    } else {
                        layer.msg('操作成功！', {time: 500}, function(){
                            window.location.reload();
                        });
                    }
                };
            _ajaxPost(_url, _oData, _func);
        });
    }
    {/if}

    $(function () {
        $("#today-btn").click(function () {
            var _myDate = new Date(),
                _todayDate = _myDate.toLocaleDateString().replace(/[\/]/g, '-'),
                _todayStart = _todayDate + " 00:00",
                _todayEnd = _todayDate + " 23:59";
            $("input[name='create_begin']").val(_todayStart);
            $("input[name='create_end']").val(_todayEnd);
            $("#search-btn").trigger("click");
        });
    });
</script>
{/block}